*{
    padding: 0;
    margin: 0;
}
body {
    margin: auto;
    width: 985px;
    height: 900px;
    font-size: 0; /* removes gaps */
}
/* position schemes */
#video_player{float: left;}
#bookMarks_container{display: inline-block;}
/* dimesions schemes */
main{height: 40%;}
footer{height: 7%;}
header{height: 10%;}
#ffmpeg_commands{height: 43%;}
#bookMarks_buttons{height: 14%;}
#video_player{height: 100%; width: 40%;}
#bookMarks_container{height: 100%;width: 60%;}
#bookMarks_table_header{height: 10.5%; font-size: 23px;}
#bookMarks_table_content{height: 75.5%; font-size: 14px; }
/* background color schemes */
#bookMarks_table_content{background-color: #9c29b7;}
header, footer, #bookMarks_buttons{background-color: black;}
#bookMarks_table_header, #ffmpeg_commands{background-color: #92d36e;}
#video_player{background-color: #444444; border-top: 2px solid #ffa834;}
/*border and border color schemes */
table, th, td { border-collapse: collapse;}
table, th, td, header { border: 2px solid #ffa834;}
/* semantic dividors (divs) */
header{ 
    font-family: 'Galada', cursive;
    border-bottom: none;
    line-height: 1.3em;
    text-align: center;
    font-size: 90px;
    color: white;
}
main {
    overflow: hidden;
    border-left: 2px solid #ffa834;
}
/* bookmarks aside section*/
#bookMarks_container table{
    font-family: 'Autour One', cursive; 
    color: white;
    width: 100%;
}
#bookMarks_table_header table{
    border-bottom:none;
}
#bookMarks_table_header th{
    padding: 5px;
    border-bottom: 1px solid #ffa834;
}
#bookMarks_table_content table{
    border-top: 1px solid #ffa834;
}
#bookMarks_table_content td{
    height: 30px;
    border-top:none;
    text-align: center;
}
/* Image ( checkboxes ) */
.center_content{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.center_content > img {
    width: 23px;
    height: 23px;
}
/* padding classes */
.column01_Width{
    width: 5.24%;
}
.column02_Width{
    width: 15.9%;
}
.column03_Width{
    width: 13.45%;
    /* width: 77px; */
}
.column04_Width{
    width: 15.8%;
    /* width: 91px; */
}
.column05_Width{
    width: 15.3%;
}
.column06_Width{
    width: 9.64%;
}
.column07_Width{
    width: 18.49%;
}
/* upload,download and delete buttons*/
footer input, #bookMarks_buttons input,
#bookMarks_buttons button{
    height: 42px;
    /* width: 147px; */
    color:white;
    cursor: pointer;
    font-size: 30px;
    margin-right: 5px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #72bb53;
    border: 2px solid #cbe8ba;
    font-family: Helvetica, Arial, sans-serif;
}

.imageButton{
    position:relative;
    width:60px;
    height:40px;
 }
 
 .imageButton img {
   position:absolute;
   top: 50%;
   left:50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }

/* html video */
video{
    width: 100%;
    height: 100%;
}

